
        <div class="container-fluid hero-image ">  
                <div class="container-fluid hero-text"> 
                        <h1 style="font-weight: 900;color:white">Knowledge is Power. Test It.</h1>
                        <div class="container typewriter">
                        <p style="color:white">Your future is our priority.</p>
                        </div>
        
                        
                    </div>
        </div>
        <br>
        <div class="container-fluid">
            <hr>
                <h3 style="text-align: center" >Categories</h3>
                <hr>
          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <img src="./assets/technical.jpg" alt="John" style="width:100%; height:100%;">
                      <div class="card-content" style="padding:5% 0 5% 5%">
                      <h3 style="color:black;">TECHNICAL</h3>
                      <p class="title">Make sure you are technically sound. Brush up your technical skills in multiple languages and topics. </p>
                      <button class="btn btn-primary" [routerLink]="['/categories',1]">Explore</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="./assets/softskills.jpg" alt="John" style="width:100%; height:100%;">
                      <div class="card-content" style="padding:5% 0 5% 5%">
                      <h3 style="color:black;">SOFT-SKILLS</h3>
                      <p class="title">Communication is key. Make sure to crack our tough questionnaires to be ready to face real world problems </p>
                      <button class="btn btn-primary" [routerLink]="['/categories',3]">Explore</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="./assets/aptitude.jpg" alt="John" style="width:100%; height:178px;">
                      <div class="card-content" style="padding:5% 0 5% 5%">
                      <h3 style="color:black;">APTITUDE</h3>
                      <p class="title">Let your aptitude show in your attitude. Take one of our many tests to bring the best out of you</p>
                      <button class="btn btn-primary" [routerLink]="['/categories',2]">Explore</button>
                    </div>
                  </div>
              </div>
              <button class="testcatalog" [routerLink]="['/categories/testall']">Test Catalog</button>
          </div>
        </div> 
        
        <div class="container-fluid" style="background:#bfbfbf3d; margin-top: 3%;">
        <h3 class="features">Our  Edge Features</h3><br>
    
       
                <section class="divided clearfix">
                            <div class="row text-center">
                                <div class="col col-12 border-bottom border-sm-bottom border-md-bottom-0 border-md-right col-sm-12 col-md-6 p-5">
                                    <div>
                                        <h1 class="h1 mb-5"> <span class="fa fa-bar-chart" style="font-size:36px; padding-right: 20px;"></span>Systematic Analysis </h1>
                                        <p>Get Performance Analytics with Category wise,<br>Sub-Category wise and Topic wise analysis .</p>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 p-5">
                                    <div>
                                     
                                        <h1 class="h1 mb-5"> <span class="fa fa-check-square-o" style="font-size:36px;padding-right: 20px;"></span>Tried and Tested </h1>
                                        <p>Successfully used by many Organisations, Universities and Training Institutes. </p>
                                    </div>
                                </div>
                            </div>
                    </section>
    
     
    </div>
      

                
         
        <div class="container-fluid">
                <h3 style="text-align: center;font-size: 2.75rem;" >Our  Partners</h3>
                <hr>
                <br><br><br>
            <div class="row blog">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                                </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
</div>
      
        
    
