

<br><br>
<div class="container" style="">
 
    
 <!-- <div class="row justify-content-center align-items-center"> 
    <div class="col-sm-10" >
      <span style="float: right;"> 
          <h3 class="display-3" style="display : inline;color:#f10101a6;font-size:3rem;"> <i class="fa fa-clock-o" > {{ this.displaytime() }} </i> </h3>
      </span>
    </div>
 </div> -->
 <div class="row"> 
        <div class="col-sm-12" style="padding-right: 100px;" >
                <div id="countdown">
                        <div id="countdown-number">{{ this.displaytime() }}</div>
                        <svg>
                        <circle r="70" cx="80" cy="80"></circle>
                        </svg>
                </div>
        </div>
     </div>
<div class="row justify-content-center align-items-center">
  <div class=" col-sm-10">  
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="border-top:0px;border-bottom:solid 2px #2185d0">
      
    <div class="card-header " style="background:white;border-bottom: 1px solid #767676;">
     <h4> <span style="margin-right:2px">{{quescntr+1}}.</span>  {{ questions[quescntr].question }} </h4>
    </div>
    <div class="card-body"> 
       <div class="row">
        <ng-container *ngFor="let option of questions[quescntr].options;let i = index">
                
          <div class="col-sm-6"  style="padding-bottom: 5px">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" aria-label="" name="option" (click)="onClick(i)">
                    </div>
                  </div>
                  <p class="form-control" aria-label="" style="height:fit-content;"> {{ option.option }}</p>
              </div>
          </div>
          </ng-container>

       </div>
       <br>
       <div class="row">
          <div class="col">
              <button  *ngIf="quescntr > 0" class="ui left labeled icon button blue" style="float:left" (click)="onPrev()"><i class="left arrow icon"></i>Previous</button>             
          </div>
          <div class="col">
              <button *ngIf="quescntr < 9" class="ui right labeled icon button blue" style="float:right" (click)="onNext()"><i class="right arrow icon"></i>Next</button>
              <button  *ngIf="quescntr+1 == 10" class="ui icon button blue" style="float:right" (click)="onSubmit()"> Submit</button>
          </div>
       </div>
    </div>
  </div>
</div>
</div> 

</div> 



