#countdown {
    position: relative;
    float: right;
    height: 160px;
    width: 160px;
    text-align: center;
    font-family: oswald;
    font-size: 22px;
  }
  
  #countdown-number {
    color : black;
    display: inline-block;
    line-height: 160px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px; 
    height: 160px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    
    stroke-dasharray: 452px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 5px;
    stroke :  #0d71bb;;
    fill: #76767640;
    animation: countdown 300s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 452px;
    }
  }