<!-- <div class="container" style="padding-top: 50px;">
<div class="card">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <form  [formGroup]="signinForm"   (ngSubmit)="onSubmit()" #signinform="ngForm">
      <div class="form-row">
        <div class="form-group col-sm-8">
          <label for="">Email</label>
          <input type="text" class="form-control" id="" placeholder="Email" formControlName="email">  
        </div>
     </div>
     <span *ngIf="signinForm.get('email').errors['required']  && signinform.submitted" class="help-block">This field is required!</span>

      <div class="form-row">
          <div class="form-group col-sm-8">
            <label for="">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password" formControlName="password">  
          </div>
      </div>
      <span *ngIf="signinForm.get('password').errors['required']  && signinform.submitted" class="help-block">This field is required!</span>

       <div class="form-row">
         <button class="btn btn-primary" type="submit">Login</button>
       </div>
    </form>
  </div>
</div>
</div> --> 

<div id="myModal" style="padding-top: 100px"  >
    <div class="modal-dialog modal-login" style="width:100%;margin-top:0px; ">
        <div class="modal-content" style="border-left: 5px solid blue;">
                   <div class="modal-header">
                       <h4 class="modal-title">Signin</h4>                                 
                   </div>
                   <div class="modal-body">
                          <form [formGroup]="signinForm"   (ngSubmit)="onSubmit()" #signinform="ngForm" >
                              
                               <div class="form-group">
                                   <i class="fa fa-envelope"></i>
                                   <input type="text" class="form-control" id="" placeholder="Email" formControlName="email">  
                                   <span *ngIf="signinForm.get('email').invalid && signinForm.get('email').touched " class="help-block"> Please enter Valid Email</span>  
                                   <span *ngIf="signinForm.get('email').errors['required']  && signinform.submitted" class="help-block">This field is required!</span>
 
                               </div>
                               <div class="form-group">
                                   <i class="fa fa-key"></i>
                                   <input type="password" class="form-control" id="" placeholder="Password" formControlName="password">  
                                   <span *ngIf="signinForm.get('password').errors['required']  && signinform.submitted" class="help-block">This field is required!</span>
                                 
                               </div>

                               
                               <div class="form-group">
                                   <!-- <input type="submit" class="btn btn-primary btn-block btn-lg" value="Send" id="sendbtn" style="background:4fb1e0;">   -->
                                   <button class="btn btn-primary btn-block btn-lg" type="submit" style="background:4fb1e0;">Login</button>              
                               </div>
                          </form> 
                      </div>   
         </div>    
                          
                     
                  
      </div>                                        
</div>